.content {
	max-width: 640px;
	margin: auto;
}

h1 {text-align: center;}

hr {margin: 3em;}

body {
	background: url(../images/footer2.png) center bottom no-repeat;
	padding: 0 0 900px 0;
	margin: 0;
}

.todo { color: red; font-weight: bold; background: black;}

#content table {
  background: #efefef;
	width: 100%;
}

pre {
	padding: 1em;
	margin-left: 1em;
	border-left: 3px solid #888;
	background: #cecece;
}

pre[data-language] {
	border-left: 3px solid #87f;
}

pre.hidden {
	display:none;
}

pre.instruction:before {
	content: "Exercise - ";
}

pre.instruction, pre.open {
	background: #fff;
	border: 1px solid black;
	color: black;
}

pre.answer {
	display: none;
	background: #efe;
	border-left: 3px solid green;
}

.center { text-align: center; }

a { text-decoration: none; font-weight: bold; }

table {
	border: 1px solid black;
	margin: 40px auto;
}

td, th {
	padding: 6px;
}

img {
	max-width: 100%;
}

p code {
	background: #fdf6e3;
	padding-left: 5px;
	padding-right: 5px;
}

.note {
	border: 1px solid black;
	padding: 1.5em;
	margin: 2em;
	background: #efefef;
}

.real:before {
	content: "Getting Stuff Done!";
	text-align: center;
}

.note:before {
	content: "Note:";
}

.content .notitle:before {
	display: none;
}

.note:before, .real:before {
	display: block;
	font-size: 200%;
	margin-bottom: 1em;
}

.real {
	border: 3px solid green;
	background: #afa;
}

/* Collapsing Rules */
body.small .collapse                 { display: none;  }
body.small .content > *              { display: none;  }
body.small .content > h1             { display: block; }
body.small .content > hr             { display: none; }
body.small .content > .important     { display: block; }
body.small .content > .instruction   { display: block; }
body.small .content > .open          { display: block; }
body.small .content > .reveal        { display: block; }
body.small .content > .collapse      { display: none;  }




/* Chapters */

.chapter:nth-child(4n+1) { background:#eef; }
.chapter:nth-child(4n+2) { background:#fbe; }
.chapter:nth-child(4n+3) { background:#efb; }
.chapter:nth-child(4n+4) { background:#bfe; }

.chapter                 { overflow: hidden; padding-bottom: 30px; }
.chapter hr:first-child  { display: none; }
#content > hr            { display: none; }


/* Google Charts */

img {
	background: white;
	padding: 20px;
	border: 1px solid black;
}

.nopad img {
	padding: 0px;
}
