#content {
	max-width: 640px;
	margin: auto;
}

h1 {text-align: center;}

hr {margin: 3em;}

body {
	background: url(../images/footer2.png) center bottom no-repeat;
	padding-bottom: 900px;
}

.todo { color: red; font-weight: bold; background: black;}

pre {
	padding: 1em;
	margin-left: 1em;
	border-left: 3px solid #888;
	background: #cecece;
}

pre[data-language] {
	border-left: 3px solid #87f;
}

pre.hidden {
	display:none;
}

pre.instruction {
	background: #fff;
	border: 1px solid black;
	color: black;
}

pre.answer {
	display: none;
	background: #efe;
	border-left: 3px solid green;
}

.center { text-align: center; }

.footer { font-family: monospace; }

a { text-decoration: none; font-weight: bold; }

table {
	border: 1px solid black;
	margin: 40px auto;
}

td, th {
	padding: 6px;
}

img {
	max-width: 100%;
}

p code {
	background: #fdf6e3;
	padding-left: 5px;
	padding-right: 5px;
}
